{% extends 'base.html' %}
{% load static%}

 
    {%block content%}
    

 

<main>
  {% block stylesheet %}
  <link rel="stylesheet" href="{% static 'bootstrap/css/carousel.css' %}">
  {% endblock %}

  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->
<br><br><br>
  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
     
      <div class="col-lg-4">
       <img src="/static/bootstrap/assets/images/logo2.png" class="rounded-circle" width="360" height="340" >
        <h2 class="fw-normal">Nuestra Historia</h2>
        <p>Conoce un poco más de nuestras Efemérides más importantes</p>
        <p><a class="btn btn-success" href="/blog/3">Ver en detalle &raquo;</a></p>
      </div>
      <div class="col-lg-4">
        <img src="/static/bootstrap/assets/images/abstract-blur-supermarket-and-retail-store.jpg" class="rounded-circle" width="360" height="340" >
         <h2 class="fw-normal">Otro Post represantivo</h2>
         <p>Detalles del post.</p>
         <p><a class="btn btn-success" href="/blog/4">Ver en detalle &raquo;</a></p>
       </div>
       <div class="col-lg-4">
        <img src="/static/bootstrap/assets/images/close-up-of-executive-pointing-to-graph.jpg" class="rounded-circle" width="360" height="340" >
         <h2 class="fw-normal">Post interesante</h2>
         <p>Detalles del post</p>
         <p><a class="btn btn-success" href="/blog/5">Ver en detalle &raquo;</a></p>
       </div>
    </div>
   
    
    


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">
    <h2 class="fw-normal text-center">Ultimas Novedades</h2>
    <br><br>
    

    <div class="row featurette">
      <div class="col-md-7">
        
        <h2 class="featurette-heading fw-normal lh-1">{{Post.title}}<span class="text-muted"></span></h2>
        <p class="lead">{{Post.content| truncatewords:60}}</p>
        <p><a class="btn btn-primary" href="{% url 'post_detail' Post.id %}">Seguir Leyendo &raquo;</a></p>
      </div>
      <div class="col-md-5">
      
        <img src="{{ Post.imagen.url }}" class="bd-placeholder-img-lg featurette-image img-fluid mx-auto"> 
        
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1">Noticia Destacada <span class="text-muted"></span></h2>
        <p class="lead">Detalle de la noticia.. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam at tincidunt tellus. Phasellus sit amet velit in mauris sodales dictum. Vivamus lacinia malesuada tempus.  </p>
      </div>
      <div class="col-md-5 order-md-1">
        
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">Otra Noticia Destacada. <span class="text-muted"></span></h2>
        <p class="lead">Detalle de la noticia.. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam at tincidunt tellus. Phasellus sit amet velit in mauris sodales dictum. Vivamus lacinia malesuada tempus.</p>
      </div>
      <div class="col-md-5">
      
      
      </div>
    </div>

  


    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->


  <!-- FOOTER -->
  

 

</main>


    {%endblock%}