{% extends 'base.html' %}
{% load static%}

 
    {%block content%}
    

 

<main>
  {% block stylesheet %}
  <link rel="stylesheet" href="{% static 'bootstrap/css/carousel.css' %}">
  {% endblock %}

  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->
<br><br><br>
  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
     
      <div class="col-lg-4">
       <img src="/static/bootstrap/assets/images/logo2.png" class="rounded-circle" width="360" height="340" >
        <h2 class="fw-normal">Heading</h2>
        <p>And lastly this, the third column of representative placeholder content.</p>
        <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
      </div>
      <div class="col-lg-4">
        <img src="/static/bootstrap/assets/images/logo2.png" class="rounded-circle" width="360" height="340" >
         <h2 class="fw-normal">Heading</h2>
         <p>And lastly this, the third column of representative placeholder content.</p>
         <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
       </div>
       <div class="col-lg-4">
        <img src="/static/bootstrap/assets/images/logo2.png" class="rounded-circle" width="360" height="340" >
         <h2 class="fw-normal">Heading</h2>
         <p>And lastly this, the third column of representative placeholder content.</p>
         <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
       </div>
    </div>
   
    
    


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="fw-normal">Ultimas Novedades</h2>
        <h2 class="featurette-heading fw-normal lh-1">{{Post.title}}<span class="text-muted"></span></h2>
        <p class="lead">{{Post.content| truncatewords:60}}</p>
        <p><a class="btn btn-primary" href="{% url 'post_detail' Post.id %}">Seguir Leyendo &raquo;</a></p>
      </div>
      <div class="col-md-5">
      
        <img src="{{ Post.imagen.url }}" class="bd-placeholder-img-lg featurette-image img-fluid mx-auto"> 
        
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1">Oh yeah, it’s that good. <span class="text-muted">See for yourself.</span></h2>
        <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how this layout would work with some actual real-world content in place.</p>
      </div>
      <div class="col-md-5 order-md-1">
        
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
        <p class="lead">And yes, this is the last block of representative placeholder content. Again, not really intended to be actually read, simply here to give you a better view of what this would look like with some actual content. Your content.</p>
      </div>
      <div class="col-md-5">
      
      
      </div>
    </div>

  

  
    

<!-- <script src="{% static 'js/contador.js' %}"></script> -->


    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->


  <!-- FOOTER -->
  

  <div class="container">
    <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">
      <div class="col mb-3">
        <a href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
          <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
        </a>
        <p class="text-muted">&copy; 2022</p>
      </div>
  
      <div class="col mb-3">
  
      </div>
  
      <div class="col mb-3">
        <h5>Menu</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">CCVA</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Blog</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Acerca de Nosotros</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Iniciar Sesion</a></li>
        </ul>
      </div>
  
      <div class="col mb-3">
        <h5>Redes Sociales</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Facebook</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Instagram</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Twitter</a></li>
        </ul>
      </div>
  
      <div class="col mb-3">
        <h5>Mas</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Consultas</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Consultas1</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Consultas2</a></li>
      </div>
    </footer>
  </div>

</main>


    {%endblock%}