{% extends 'base.html' %}
{% load static %}
{% comment %} {% block extracss %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/style_form.css' %}">
    {% endblock %} {% endcomment %}

   
   <body>
    
    {%block content%}
    <br><br>
   <br>
   <div class="container-xl" style="max-width: 28rem;">
    
        <form action="" method="post">
            {% csrf_token %}

        <form>
                <div class="input-group">
                <span class="input-group-text">Nombre Completo</span>
                <input type="text" aria-label="Nombre Completo" class="form-control">
                </div>
                <br>
          
                <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              <div id="emailHelp" class="form-text">Responderemos tu consulta al email que detalles aqui...</div>
                </div>
                <br>
                <div class="mb-3">
                    <label for="floatingTextarea">Consulta</label>
                    <textarea class="form-control" placeholder="Escribe el asunto aqui..." id="floatingTextarea"></textarea>
                    
                  </div>
                  <br>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Mensaje</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                
              </div>
            <button type="submit" class="btn btn-success">Enviar</button>
          </form>
    
    
   </div> 
    
    {%endblock%}
    
</body>

